<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="15">
      <span>E-Commerce</span>
    </div>
    <div fxLayout="row" fxFlex="50">
      <mat-form-field floatLabel="never" fxFlex>
        <input matInput placeholder="Search">
      </mat-form-field>
    </div>
    <div fxFlex></div>
    <div fxFlex="20">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">account_circle</mat-icon>
        My Account
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
